#aboutText {
    font-size: x-large;
    margin: 20px;
}

.grommetux-text-input.grommetux-input {
    border: none;
    width: calc(100% - 40px);
    padding: 0 20px;
}

.grommetux-box--focus {
    border: none;
    box-shadow: none;
}

.grommetux-background-color-index--light .grommetux-form-field__contents>select {
    background-image: none;
    border: none;
    width: calc(100% - 20px);
    padding: 10px 20px;
}

.grommetux-background-color-index--light .grommetux-form-field__contents>select:focus, .grommetux-background-color-index--light .grommetux-form-field__contents>select:active {
    outline: none;
    border: none;
}

.grommetux-input.grommetux-date-time__input {
    border: none;
    width: calc(100% - 40px);
    padding: 0 20px;
}